.customCheckbox {
    position: absolute;
    opacity: 0;
}

.customCheckbox+label {
    display: inline-flex;
    align-items: center;
}

.customCheckbox+label::before {
    position: relative;
    display: inline-block;
    content: '';
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    border: 1px solid #adb5bd;
    border-radius: 0.1em;
}

.customCheckbox:checked+label::before {
    background-color: #0068FF;
    border-color: #0068FF;
    background-image: url(./check_1.png);
    background-size: 100%;
}


/* focus */

.customCheckbox:focus+label::before {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #ACDAFA;
}

.customCheckbox:focus:not(:checked)+label::before {
    border-color: #adadad;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #ACDAFA;
}


/* hover */

.customCheckbox:not(:disabled):not(:checked)+label:hover::before {
    background-color: #ffffff;
    border-color: #0068FF;
}


/* active (pressed) */

.customCheckbox:not(:disabled):active:not(:checked)+label::before {
    background-color: #ffffff;
    border-color: #0068FF;
}


/* disabled */

.customCheckbox:disabled:not(:checked)+label::before {
    background-color: #d0d7df;
    border-color: #adadad;
    box-shadow: none;
    color: #d0d7df;
}

.customCheckbox:disabled:checked+label::before {
    background-color: #d0d7df;
    border-color: #adadad;
    box-shadow: none;
    background-image: url(./check_2.png);
    background-size: 100%;
    color: #d0d7df;
}